{% extends "layout.html" %}
{% block title %}
Home Page
{% endblock %}
{% block body %}
    <div class="container" style="min-height: 400px!important;">
        <div class="row mt-5">
            <div class="col-lg-4 mx-auto cardbox p-3">
                <form action="/changepassword" method="POST">
                    <div class="form-group">
                        <label class="font-weight-bolder">Enter your New Password</label>
                        <input type="password" class="form-control" name="new_password" id="new_password">
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-success" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}