{% extends "layout.html" %}
{% block title %}
Home Page
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6 d-md-block p-5 ">
                <div class="img">
                    <img src="{{url_for('static',filename='img/changepassword.svg')}}" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4 col-12 p-4 my-auto" id="callforpaper">
                <form action="/changepassword" method="POST">
                    <div class="form-group">
                        <label class="font-weight-bolder">Enter your New Password</label>
                        <div class="input-group" id="show_hide_password">
                            <input type="password" class="form-control" name="new_password" id="new_password">
                            <div class="input-group-addon">
                               <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="lbtn btn-success lbtn-small" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
 <script type="text/javascript">
     $(document).ready(function() {
         $("#show_hide_password a").on('click', function(event) {
             event.preventDefault();
             if($('#show_hide_password input').attr("type") == "text"){
                 $('#show_hide_password input').attr('type', 'password');
                 $('#show_hide_password i').addClass( "fa-eye-slash" );
                 $('#show_hide_password i').removeClass( "fa-eye" );
             }else if($('#show_hide_password input').attr("type") == "password"){
                 $('#show_hide_password input').attr('type', 'text');
                 $('#show_hide_password i').removeClass( "fa-eye-slash" );
                 $('#show_hide_password i').addClass( "fa-eye" );
             }
         });
     });
 </script>
{% endblock %}