<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body> 

    <div class="error_msg">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>   
    <img class="wave" src="{{url_for('static',filename='img/wave2.png')}}" />
        <div class="container">
            <div class="img">
                <img src="{{url_for('static',filename='img/forgotpass2.svg')}}">
            </div>
            <div class="login-content">
                <form action="/login" id="loginform" method="POST">
                    <img src="{{url_for('static',filename='img/new/forgotpassword.svg')}}">
                    <h1 class="title">Reset password</h1>
                    <div class="input-div one">
                       <div class="i">
                            <i class="fas fa-envelope"></i>
                       </div>
                       <div class="div">
                            <h5>Email-id</h5>
                            <input type="text" class="input" name="username" id="name" autocomplete="off">
                       </div>
                    </div>
                    <input type="submit"  id="submit" class="btn" value="Get link">
                    <a href="/login">Go to login page</a>
                </form>
            </div>
        </div>
        <!-- please wait modal -->
        <div class="modal fade" id="pleaseWait" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-sm">
            <div class="modal-content bg-transparent border-0">
              <div class="modal-body text-center">
                Please wait request is being processed
                <div class="mx-auto">
                    <div class="spinner-grow text-primary"></div>
                    <div class="spinner-grow text-primary"></div>
                    <div class="spinner-grow text-primary"></div>
                </div>
              </div>          
            </div>
          </div>
        </div>
    <!-- enternal google fonts cdn links -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script> 
    <script>
    $(function(){
         $('form').on('submit', function () {                   
              $('#pleaseWait').modal('show');
              return true;
         });
     });
    </script>
</body>

</html>