{% extends "layout.html" %}
{% block title %}
Full Post
{% endblock %}
{% block body %}

<!-- Messages -->
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" id="success-alert">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Success! </strong> {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
	<div class="container-fluid mx-0">
		<div class="row" id="callforpaper">
			<div class="col-md-10 col-12 mx-auto">
				<h2>{{ post['title'] }}</h2>
				<div class="row">
					<div class="col-md-8 col-12">
						<img src="{{ post['image'] }}"  alt="post image" class="img-fluid" width="400">
					</div>
					<div class="col-md-4 col-12 my-auto">
					    <blockquote class="blockquote mb-0">
					        <p>{{ post['content'] }}.</p>
					        <footer class="blockquote-footer">Posted on <cite title="Posted on">{{ post['created_at'] }}</cite></footer>
					    </blockquote> 
					</div>
				</div>
				<div class="comment-section mt-5 p-2">
					<form action="/comment" method="POST">
						<input type="hidden" name="postId" value="{{ post['_id'] }}">
						<textarea name="comment" id="" rows="4" class="form-control" type="text" placeholder="Enter your comment here" required></textarea>
						<!-- <input type="text"  class="form-control" name="comment" placeholder="Enter your comment here" required> -->
						<div class="float-right">
							<button class="lbtn lbtn-blue-color" type="submit">Comment</button>
						</div>
					</form>
				</div>
				<ul class="list-unstyled">
				{% for postComment in postComments %}
					<li class="p-4 text-capitalize font-weight-bolder">{{ postComment['username']}} <span> : </span> <span class="text-primary">{{ postComment['content']}}</span></li>
				<div class="d-lg-flex border-bottom border-info">	
					<small class="p-2 ml-3">
						{% if postComment['updated_at'] %}
						{{ postComment['updated_at']}}
						{% else %}
						{{ postComment['created_at']}}
						{% endif %}
					</small>
					<span>
						<a href="#" id="editcomment-btn" class="lbtn lbtn-small" 
						data-toggle="modal" data-target="#editcomment-modal" data-commentid="{{ postComment['_id'] }}"><i class="fas fa-edit" title="Edit this comment" data-toggle="tooltip"></i></a>
						<a href="deletecomment?commentId={{ postComment['_id'] }}" class="lbtn lbtn-small text-danger"><i class="fas fa-trash" title="Delete this comment" data-toggle="tooltip"></i></a>
					</span>
				</div>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
<!-- Edit Comment Modal -->
<div class="modal fade" id="editcomment-modal" tabindex="-1" role="dialog" aria-labelledby="editcomment-modal"
aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content bg-transparent border-0 cardbox">
		<div class="modal-body">
			<h5 class="modal-title" id="editcomment-modal-title">Edit Comment</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<form action="/editcomment" method="POST">
				<input type="hidden" id="newcommentId">
				<input type="text" name="newcomment" class="form-control" placeholder="enter you comment here">
				<input type="submit" class="lbtn lbtn-pink-color" value="update">
			</form>              
		</div>
	</div>
</div>
</div>
<script>
	var editBtn = document.getElementById('editcomment-btn');
	editBtn.onclick = function(){
		var commentId = editBtn.getAttribute('data-commentid');
		document.getElementById('newcommentId').value = commentId;
	}
</script>
{% endblock %}
