<html>
<head>
    <title>
        Login-Flask
    </title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </div>
    <div class="container m-auto p-4 w-50">
        <div class="card m-auto p-4">
            <form action="/login" method="POST">
                <div class="login">
                    <div class="login-screen">
                        <div class="app-title container">
                            <h1>Login</h1>
                        </div>
                        <div class="container m-auto text-center">
                            <h6>Please Enter your credentials</h6>
                        </div>

                        <div class="login-form">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" value="" placeholder="username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" value="" placeholder="password"
                                    name="password">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Log in" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <a href="/register">New Here ? Please Register</a>
        </div>
    </div>
</body>

</html>