{% extends "layout.html" %}
{% block title %}
Account Verification
{% endblock %}
{% block body %}
    <div class="container" style="min-height: 400px!important;">
        <div class="row mt-5">
            <div class="col-lg-4 mx-auto cardbox p-3">
                <form action="/verifyaccount" method="POST">
                    <div class="form-group">
                        <label>Enter the Verification Code</label>
                        <input type="password" class="form-control" name="verification_code" id="verification_code">
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-success" value="Verify">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}